nav {
  background-color: $color-nav;
  height: 50px;
  .nav__left--menu {
    h2 {
      color: $white;
      font-weight: 500;
      margin-right: 2rem;
    }
  }
  ul {
    li {
      &:nth-child(3) {
        border: 2px solid rgb(0, 132, 255);
        padding: 3px 20px;
        border-radius: 20px;
        a{
          color: rgb(0, 183, 255);
font-weight: 700;
        }
      }
      margin-right: 40px;
      a {
        display: inline-block;

        text-decoration: none;
        color: $text-gray;
        font-size: 16px;
        transition: all 0.5s ease-in-out;
        &:hover {
          color: rgb(0, 195, 255);
          transform: scale(1.4) translateY(-2px) rotate(360deg);
        }
      }
    }
  }
}
